$black: #000;
$white: #fff;
$primary: #2c2c54;
$secondary: #d1ccc0;

.settings_page_auto-copy-posts-wordpress {
	.update-nag {
		display: none;
	}
}

.auto-copy-posts-for-wordpress {
	.header {
		margin-top: -10px;
		margin-left: -22px;
		padding: 30px 20px;
		background: $primary;
		color: $white;

		h2 {
			color: $white;
		}
		.notice {
			color: $black;
		}
	}

	.actions {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-left: -22px;
		margin-bottom: 40px;
		padding: 15px 20px;
		background: $secondary;

		a {
			margin-right: 20px;
		}
	}

	#settings-form .form-table tr:nth-child(6n + 9) {
		border-top: solid 1px $primary;
	}
}
