.settings_page_auto-copy-posts-wordpress .update-nag {
	display: none;
}
.auto-copy-posts-for-wordpress .header {
	margin-top: -10px;
	margin-left: -22px;
	padding: 30px 20px;
	background: #2c2c54;
	color: #fff;
}
.auto-copy-posts-for-wordpress .header h2 {
	color: #fff;
}
.auto-copy-posts-for-wordpress .header .notice {
	color: #000;
}
.auto-copy-posts-for-wordpress .actions {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: -22px;
	padding: 15px 20px;
	background: #d1ccc0;
}
.auto-copy-posts-for-wordpress .actions a {
	margin-right: 20px;
}
